@CHARSET "UTF-8";

.cwf-patientheader .z-hlayout-inner,
.cwf-patientheader .z-toolbar-content {
	height: 100%;
}

.cwf-patientheader .glyphicon {
	background: none;
	border: none;
	font-size: 110%;
	padding-bottom: 5px;
}

.cwf-patientheader .glyphicon:disabled {
	opacity: .5;
}

.cwf-patientheader a {
	text-decoration: underline;
}

.cwf-patientheader a:focus {
	outline: none;
}

.cwf-patientheader-detail {
	padding: 5px;
}

.cwf-patientheader-label {
	font-weight: bold;
	padding-right: 5px;
}

.cwf-patientheader-header {
	background: lightgray;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	width: 100%;
	display: inline-block;
}

